

.notavif .notwebp .trip-1{
    background-image: url(../img/one_three.jpg);
}
.avif .trip-1{
    background-image: url(../img/one_three.avif);
}
.webp .trip-1{
    background-image: url(../img/one_three.webp);
}


.notavif .notwebp .trip-2{
    background-image: url(../img/two_three.jpg);
}
.avif .trip-2{
    background-image: url(../img/two_three.avif);
}
.webp .trip-2{
    background-image: url(../img/two_three.webp);
}


.notavif .notwebp .trip-3{
    background-image: url(../img/three_three.jpg);
}
.avif .trip-3{
    background-image: url(../img/three_three.avif);
}
.webp .trip-3{
    background-image: url(../img/three_three.webp);
}

