@use './variables' as v;


.text-center{
    text-align: center;
}

.bg-primary{
    background-color: v.$color_primary;
}
.bg-secondary{
    background-color: v.$color_secondary;
}
.bg-terciary{
    background-color: v.$color_terciary;
}

.d-flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.d-flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}