
//Fonts 
$font_principal: 'Open Sans', sans-serif;
$font_secondary: 'Source Sans Pro', sans-serif;

//Media Queries
$phone: 480px;
$tablet: 760px;
$desktop: 1024px;

//Colours
$color_primary: #D3EBCD;
$color_secondary:#AEDBCE;
$color_terciary:#839AA8;

$black:#000000;
$white:#FFFFFF;
$gray:#635666;
$grayLight:#eceeef;

//Units
$separation: 5rem;