@use '../base/variables' as v;
@use '../base/mixins' as m;


.notavif .notwebp .about__container{
    background-image: url(../img/about_us.jpg);
}

.avif .about__container{
    background-image: url(../img/about_us.avif);
}
.webp .about__container{
    background-image: url(../img/about_us.webp);
}

.about__container{
    
    margin: 0 auto;
    
    display: grid;
    grid-template-rows: repeat(2,1fr);
    

    
    background-size: auto 50%;
    // background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center bottom;

    @include m.tablet{
        
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(3,1fr);
        
        background-size: 55%;
        background-position: left bottom;

        height: 55rem;
    }
}

.about__info{
    padding: 4rem ;
    text-align: center;
    background-color: rgba(211, 235, 205,0.9);

    @include m.tablet{
        grid-column: 2/4;
        text-align: left;
        width: 84%;
    }
}

.about__title{
    margin-bottom: 2rem;
    font-family: v.$font_secondary;

    @include m.tablet{
        font-size: 5rem;
    }
}

.about__text p{
    
    @include m.tablet{
        line-height: 1.3;
    }
}
